:root{
  --primaryColor:#df3238;
  --borderColor:#eeee;
}

*{
  margin:0;
  box-sizing: border-box;
  outline: 0;
}
 ul, ol {
   list-style-type: none;
 }
 a{
   text-decoration: none;
 }
body{
   background-color: var(--primaryColor);
   height: 100%;
 }
