.mainText h1{
    font-size: 28px;
    color: #0f152b;
    padding-bottom: 20px;
}
.main{
    padding-bottom: 3rem;
    padding-left:1.5rem ;
    padding-top: 1.5rem;
    padding-right: 0px;
    margin-right: 1.5rem;
}

.filter{
    border: 1px solid #d4cece;
    height: 40px;
    display: flex;
    flex-basis: 60%;
}
.filter input{
    border: none;
margin-left: 20px;
    height: 100%;
    width: 100%;
}
.searchIcon{
 display: flex;
 justify-content: center;
 align-items: center;
 border-right: 1px solid #d4cece;
 height: 100%;
padding: 20px;
}
.searchIcon i{
    font-size: 16px;
    color: #c0c0c0;
}
.filter input::placeholder{
    color: #c0c0c0;
}
.formData{
    display: flex;
    gap:40px;
    
}
.popularText{
    display: flex;
    flex-basis: 40%;
    height: 40px;
    border: 1px solid #d4cece;
   
}
.popular{
  display: flex;
  justify-content: center;
align-items: center;
  border-right: 1px solid #d4cece;
padding: 10px;
height: 100%;
}
.popular i{
        font-size: 16px;
    color: #c0c0c0;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #c0c0c0;
    border: none;
    width: 100%;
}
.tagItem{
    display: flex;
    background: #f3f3f3;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
}
.tagItem i{
    align-self: center;
    font-size: 10px;
    padding-left: 6px;
    color: #7f828d;
}
.tagItem h3{
    font-size: 14px;
    color: #7f828d;
    
}
.tag{
    margin-top: 1.5rem;
    display: flex;
    gap: 20px;
    margin-bottom: 1.5rem;
}
.carItem{
    position: relative;
    border-radius: 10px;
    
}
.like{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: 1px solid #7f828d;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 8px;
}
.like i{
    color: #5c5f6f;
    font-size: 14px;
}
.image{
    border-bottom: 1px solid #dfdfdf;
    height: 200px;
}
.strike{
    text-decoration: line-through;
    color: #b7b7bf;
    font-size: 15px;
}
.vendorCode{
    color: #bebebe;
    font-size: 14px;
}
.carText{
    padding: 20px;
}
.productName{
    color: #616575;
    font-size: 16px;
}
.price{
    color: #bbb;
    font-size: 14px;
}
.dollar{
    color: #22273a;
    font-size: 18px;
}
.addToCart{
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: #dd2d38;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}
.addToCart i{
    color: #fff;
    font-size: 14px;
}
